/* article */
.article .text {
  width: 100px;
  text-align: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 40px;
  
}

.article .text h2 {
  font-size: 25px;
  border-bottom: 2px solid #980807;
  padding: 10px;
}

.article .product1 {
  background: url(../img/moroc-carpet.jpg);
}

.article .product2 {
  background: url(../img/floor-carpet.jpg);
}

.article .product1 , .article .product2 {
  position: relative;
  width: 100%;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 50px;
  margin-bottom:50px;
}

.article .content {
  width: 100%;
  text-align: right;
  border-bottom: 2px solid #ccc;
}

.article .content p {
  position: relative;
  font-weight: bold;
}

/* comment */

.comment .text {
  width: 145px;
  text-align: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 40px;
  
}

.comment .text h2 {
  font-size: 25px;
  border-bottom: 2px solid #980807;
  padding: 10px;
}

.comment form {
  border: 1px solid #ccc;
  background: #FAFAFA;
  max-width: 650px;
  margin: auto
}

.comment .form-group {
  max-width: 450px;
  padding: 40px;
}

.comment .form-group textarea {
  width: 572px;
  height: 100px;
}

.comment .btn {
  background: #980807;
  color: #fff !important;
  border: 1px solid #980807;
  width: 93px ;
  font-size: 14px;
  border-radius: none !important;
  transition: all 0.45s ease 0s;
  line-height: 1.5;
  margin: auto;
}

.comment .btn:hover {
  background: #fff !important;
  color: #980807 !important;
  border: 1px solid #980807;
}

@media(max-width : 767px) {
  .comment .form-group textarea {
    width: 423px !important;
  }
}

@media(max-width : 550px) {
  .comment .form-group textarea {
    width: 398px !important;
  }
}